/*******************************************************************************
Yavor's styles
*******************************************************************************/

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'ResagokrB';
    src: url('ResagokrBold.eot');
    src: url('ResagokrBold.eot?#iefix') format('embedded-opentype'), url('ResagokrBold.woff') format('woff'), url('ResagokrBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ResagokrN';
    src: url('Resagokr.eot');
    src: url('Resagokr.eot?#iefix') format('embedded-opentype'), url('Resagokr.woff') format('woff'), url('Resagokr.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ResagokrL';
    src: url('ResagokrLight.eot');
    src: url('ResagokrLight.eot?#iefix') format('embedded-opentype'), url('ResagokrLight.woff') format('woff'), url('ResagokrLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Phenomena';
    src: url('Phenomena-Bold.eot');
    src: url('Phenomena-Bold.eot?#iefix') format('embedded-opentype'), url('Phenomena-Bold.woff') format('woff'), url('Phenomena-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

html,
body {
    height: 100%;
    color: #000e17;
}

.blockquote {
    background: #53d1ee;
    border-radius: 3px;
    box-sizing: padding-box;
    padding: 1em 2em 1em 1em;
    border-left: 4px solid #01415f;
    quotes: "\201C""\201D""\2018""\2019";
    font-family: Phenomena;
    font-size: 1.5em;
    font-stretch: expanded;
    font-style: italic;
}

.container-fluid {
    height: 100%;
    position: relative;
}

#copy-question {
    font-family: Phenomena;
    font-weight: bold;
    font-size: 2em;
}

#copy-cat {
    font-family: Phenomena;
    font-weight: bold;
    font-size: 4em;
}

dd {
    font-family: Rasagokr;
    font-weight: light;
    font-size: 1.3em;
}

footer {
    border-top: 1px solid #53d1ee;
    color: #01415f;
    height: auto;
    padding: 1em;
    font-family: Phenomena;
    font-weight: light;
    font-size: 1.1em;
    margin: 0 15% 0 15%;
}

#form-label {
    font-family: Phenomena;
    font-weight: bold;
    font-size: 1.5em;
}

#main-content-wrapper {
    margin: 0 15% 0 15%;
}

.new-header {
    display: block;
    width: 100%;
    height: 100%;
    background: #53d1ee;
    /*#668014;*/
    background: -webkit-linear-gradient(left top, #53d1ee, #53d1ee);
}

.logo-brand {
    font-family: Resagokr;
    color: #000e17;
}

#page-logo {
    position: relative;
    top: 5%;
    left: 5%;
    font-weight: bold;
    font-size: 2em;
    text-decoration: underline;
}

#page-moto {
    position: relative;
    top: 5%;
    left: 5%;
    font-size: 1.5em;
    font-weight: 400;
}

.big-copy {
    color: #000e17;
    font-family: Phenomena;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    text-shadow: 2px 2px 3px #01415f;
}

#title {
    padding-top: 10%;
    font-size: 10em;
}

#tagline {
    padding-bottom: 5%;
    font-size: 3em;
}

#test-details-field {
    border-radius: 3px;
    background: #53d1ee;
    padding: 1em;
    margin:1em 0 1em 0;
}


/********************* responsive columns *********************/


/********************* responsive columns *********************/

.row::after {
    content: "";
    clear: both;
    display: table;
}

.referrer {
    font-weight: bold;
    color: #01415f;
    font-style: normal;
    text-align: right;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    /*border-left: 1px dashed #369055;
    border-right: 1px dashed #369055; */
    width: 100%;
}


/********************* media rules *********************/


/********************* media rules *********************/

@media only screen and (max-width: 768px) {
    #title {
        font-size: 8em;
        padding-bottom: 5%;
    }
    #tagline {
        font-size: 2em;
    }
    #main-content-wrapper {
        margin: 0 5% 0 5%;
    }
}

@media only screen and (max-width: 600px) {
    #title {
        font-size: 7em;
        padding-bottom: 5%;
    }
    #tagline {
        font-size: 2em;
    }
    #main-content-wrapper {
        margin: 0 2% 0 2%;
    }
}

@media only screen and (min-width: 600px) {
    .col-m-1 {
        width: 8.33%;
    }
    .col-m-2 {
        width: 16.66%;
    }
    .col-m-3 {
        width: 25%;
    }
    .col-m-4 {
        width: 33.33%;
    }
    .col-m-5 {
        width: 41.66%;
    }
    .col-m-6 {
        width: 50%;
    }
    .col-m-7 {
        width: 58.33%;
    }
    .col-m-8 {
        width: 66.66%;
    }
    .col-m-9 {
        width: 75%;
    }
    .col-m-10 {
        width: 83.33%;
    }
    .col-m-11 {
        width: 91.66%;
    }
    .col-m-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .project-title ()
}